<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div id="editorBottomPanel" class="editor-bottom-panel">
    <div class="editor-bottom-panel-buttons">
      <div class="editor-bottom-panel-button button is-black" @click="save">Save model & trend</div>
      <div class="editor-bottom-panel-button button is-black" @click="saveProject">Save Project</div>
    </div>
  </div>
</template>

<script>
  import Trend from "../../models/Trend"
  import Model from "../../models/Model"
  import Project from "../../models/Project"

  export default {
    name: "BottomPanel",
    methods: {
      save: async function () {
        if (this.$editor.trendData._id) {
          if (await new Trend(this.$editor.trendData).save(this).error) {
            this.$notify({ group: 'editor', type: 'error', title: 'Error', text: 'Тренд наебнувся((' })
          }
        }
        if (this.$editor.modelData._id) {
          if (await new Model(this.$editor.modelData).save(this).error) {
            this.$notify({ group: 'editor', type: 'error', title: 'Error', text: 'Моделька наебнулась((' })
          }
        }
        // else {
        //   this.$notify({ group: 'editor', type: 'common', title: 'Так так так, блять', text: 'Сперва надо шо то изменить в этом мире, а потом сохранять' })
        // }
      },
      saveProject: async function () {
        const res = await this.$editor.commander.saveProjectCommand.init().execute()
        if (res.error) {
          this.$notify({ group: 'editor', type: 'error', title: 'Error', text: res.error })
        } else {
          this.$notify({ group: 'editor', type: 'success', title: 'Done', text: 'Project successfully created' })
        }
      }
    }
  }
</script>

<style scoped>

</style>
