<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div id="editorLeftPanel" class="editor-left-panel"></div>
</template>

<script>
  export default {
    name: "LeftPanel"
  }
</script>

<style scoped>
</style>
