<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div id="editorTopPanel" class="editor-top-panel">
    <nuxt-link to="/projects">
      <i><fa :icon="['fas', 'chevron-left']"/></i>
      Projects
    </nuxt-link>
  </div>
</template>

<script>
    export default {
        name: "TopPanel"
    }
</script>

<style scoped>

</style>
