<template>
  <nuxt-link v-bind="$attrs"
             tag="li">
    <a class="dashboard-sidebar-tab-link">
      <slot></slot>
    </a>
  </nuxt-link>
</template>

<script>
  export default {
    props: {
      link: {
        type: [String, Object],
        default: () => {
          return {
            name: '',
            path: '',
            iconTag: '',
            iconName: ''
          }
        }
      },
      tag: {
        type: String,
        default: 'nuxt-link'
      }
    }
  }
</script>

<style>
</style>
