<template>
  <div class="dashboard-sidebar">
    <div class="dashboard-sidebar-wrapper">

      <nuxt-link to="/projects">
        <div class="title">
          {{title}}
        </div>
      </nuxt-link>

      <ul class="nav dashboard-sidebar-tabs" v-if="content.length">
        <div class="dashboard-sidebar-tabs-section" v-for="(sidebarSection, index) in content" :key="`sidebar-section-${index}`">
          <span v-if="sidebarSection.name" class="dashboard-sidebar-tabs-section-title">{{sidebarSection.name}}</span>
          <sidebar-tab v-for="(sidebarTab, index) in sidebarSection.tabs" :key="`sidebar-tab-${index}`" class="dashboard-sidebar-tab" :to="sidebarTab.path">
            <!--<i class="dashboard-sidebar-tab-favicon" v-if="sidebarTab.iconName"><fa :favicon="[sidebarTab.iconTag, sidebarTab.iconName]"/></i>-->
            <p class="dashboard-sidebar-tab-text">{{sidebarTab.name}}</p>
          </sidebar-tab>
        </div>
      </ul>

    </div>
  </div>
</template>
<script>
  import SidebarTab from './SidebarTab.vue'

  export default {
    name: 'sidebar',
    components: {
      SidebarTab
    },
    props: {
      title: {
        type: String,
        default: 'artrend'
      },
      content: {
        type: Array,
        default: () => [],
      }
    },
    data () {
      return {
        activeTab: this.$route.name
      }
    },
    methods: {
      onTabClick: function (tab) {
        this.activeTab = tab;
      },
      isActive: function (tab) {
        if (this.activeTab === tab) {
          return 'active';
        } else {
          return '';
        }
      }
    }
  }

</script>

<style>
</style>
