/*!
 * Project: artrend-frontend
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2018.
 */

.dashboard-content {
  background-color: $dashboard-content-background-color;
  position: relative;
  z-index: 2;
  float: right;
  width: $dashboard-content-width;
  min-height: 100%;
}
