/*!
 * Project: artrend-frontend
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2018.
 */


.dashboard-content-body {

  position: absolute;
  width: 100%;
  top: $dashboard-content-header-height;
  bottom: $dashboard-content-footer-height;
  padding: $dashboard-content-body-padding;
  overflow-y: scroll;

  .dashboard-content-body-button {
  }

  .form {

    //width: 30%;
    padding: 20px 20px 0 0;

    .label {
      font-weight: normal;
    }

    span.file-label {
      margin-left: 5px;
    }

    .file-cta,
    .file-name,
    input,
    select {
      border-radius: 0 !important;
    }

  }

  #editorQuickViewPort {
    padding: 0;
    height: 500px;
    width: 100%;
  }

  .dashboard-content-body-cards {

    //position: absolute;
    width: $dashboard-content-body-cards-width;
    height: $dashboard-content-body-cards-height;
    padding: $dashboard-content-body-cards-padding;
    margin: $dashboard-content-body-cards-margin !important;

    .dashboard-content-body-card {

      position:relative;
      height: $dashboard-content-body-card-height;
      width: $dashboard-content-body-card-width !important;
      min-width: $dashboard-content-body-card-min-width;
      margin: $dashboard-content-body-card-margin;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
      text-align: center;
      background: #efefef;

      .dashboard-content-body-card-thumbnail {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 40px;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .dashboard-content-body-card-thumbnail-blurred-img {
          filter: blur(1.5px);
          transform: scale(0.98);
        }
      }

      .dashboard-content-body-card-icon {

        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        //height: $dashboard-content-body-card-image-height;
        line-height: $dashboard-content-body-card-image-height;
        color: rgb(218, 218, 218);
        font-size: $dashboard-content-body-card-image-height;
        transform: translate(0, calc(-50% - #{$dashboard-content-body-card-caption-height}));

      }

      .dashboard-content-body-card-caption {

        position: absolute;
        left: 0;
        bottom: 0;
        height: $dashboard-content-body-card-caption-height;
        width: 100%;
        line-height: $dashboard-content-body-card-caption-height;
        text-align: center;
        background: $white;
        overflow: hidden;

        .dashboard-content-body-card-caption-text {
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translate(0, -50%);
        }

      }

    }

  }

}
