/*!
 * Project: artrend-frontend
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2018.
 */

.dashboard-content-header {

  .dashboard-content-header-navbar, header {
    font-size: $dashboard-content-header-font-size;
    padding: $dashboard-content-header-padding;
    line-height: $dashboard-content-header-content-height;
    height: $dashboard-content-header-height;

    .navbar-item{
      padding: 0 !important;
    }

    .button {
      font-size: 18px;
      padding: 0 20px 0 15px;
      line-height: 45px;
      height: 45px;

      i {
        float: left;
        margin-right: 10px;
        font-size: 20px;
      }
    }
  }
}


