/*!
 * Project: artrend-frontend
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2018.
 */

.dashboard-content-footer {
  background: $dashboard-content-footer-background-color;
  height: $dashboard-content-footer-height;
  padding: $dashboard-content-footer-padding;
}
