/*!
 * Project: artrend-frontend
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2018.
 */

.dashboard-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: $dashboard-sidebar-width;
  display: block;

  .dashboard-sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: $dashboard-sidebar-width;
    padding: $dashboard-sidebar-wrapper-padding;
    background: $dashboard-sidebar-wrapper-background-color;
    z-index: 4;
  }

  .title {
    margin: $dashboard-sidebar-title-margin;
    padding: $dashboard-sidebar-title-padding;
    text-align: left;
    color: $dashboard-sidebar-font-color;
    font-size: $dashboard-sidebar-title-font-size;
    text-transform: uppercase;
    width: $dashboard-sidebar-title-width;
    font-weight: $dashboard-sidebar-title-font-weight;
    letter-spacing: 0.1em;
  }

  .dashboard-sidebar-tabs-section{
    padding: $dashboard-sidebar-tabs-section-padding;
  }

  .dashboard-sidebar-tabs-section-title {
    display: block;
    text-transform: uppercase;
    padding: $dashboard-sidebar-tabs-section-title-padding;
    color: $dashboard-sidebar-tabs-section-title-font-color;
  }

  .dashboard-sidebar-tabs {

    padding: $dashboard-sidebar-tabs-padding;
    width: $dashboard-sidebar-tabs-width;
    margin: auto;
    text-transform: $dashboard-sidebar-tabs-text-transform;
    font-size: $dashboard-sidebar-tabs-font-size;
    font-weight: $dashboard-sidebar-tabs-font-weight;

    .dashboard-sidebar-tab {

      margin: $dashboard-sidebar-tab-margin;
      padding: $dashboard-sidebar-tab-padding;
      border-radius: 4px;
      transition: all 0.1s;
      opacity: 1.0;
      color: $dashboard-sidebar-font-color;

      > a, .dashboard-sidebar-tab-link {
        color: $dashboard-sidebar-font-color;
      }

      &:hover{
        background: $dashboard-sidebar-tab-hover-background-color;
        opacity: 0.3;
      }

      &.nuxt-link-active {
        background: $dashboard-sidebar-tab-active-background-color;
        opacity: 0.3;
      }

      .dashboard-sidebar-tab-text {
        line-height: $dashboard-sidebar-tab-height;
      }

      .dashboard-sidebar-tab-icon {
        float: left;
        font-size: $dashboard-sidebar-tab-icon-size;
        width: $dashboard-sidebar-tab-icon-size;
        margin-right: $dashboard-sidebar-tab-icon-ml;
        line-height: $dashboard-sidebar-tab-height;
      }
    }

  }
}
