<!--
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <button :class="tabButtonClass" @click="onTabClick">
    <i class="editor-right-panel-tab-button-favicon" v-if="this.tab.iconName">
      <fa :icon="[this.tab.iconTag, this.tab.iconName]"/>
    </i>
  </button>
</template>

<script>

  export default {

    name: "RightPanelTabButton",

    props: {
      tab: {
        type: Object,
        default: () => {},
      },
      isActive: {
        type: Boolean,
        default: () => false
      }
    },

    computed: {
      tabButtonClass () {
        if (this.isActive) {
          return "editor-right-panel-tab-button-active";
        } else {
          return "editor-right-panel-tab-button"
        }
      }
    },

    methods: {

      onTabClick () {
        this.$emit('clicked', this.tab);
      }

    }

  }
</script>

<style scoped>
</style>
