<!--
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div class="editor-right-panel-tab-content">

    <div class="editor-right-panel-tab-content-title">
      <span>{{tab.name}}</span>
    </div>

    <div class="editor-right-panel-tab-content-cards">
      <right-panel-tab-content-card v-for="(cardData, index) in data"
                                    :key="`editor-right-panel-tab-content-card-${index}`"
                                    :data="cardData"
                                    :tab="tab"
                                    @clicked="onCardClick">
      </right-panel-tab-content-card>
    </div>

  </div>
</template>

<script>
  import RightPanelTabContentCard from './RightPanelTabContentCard'

  export default {
    name: "RightPanelTabContent",

    components: {
      RightPanelTabContentCard
    },

    props: {
      tab: {
        type: Object,
        default: () => {},
      },
      data: {
        type: Array,
        default: () => [],
      }
    },

    methods: {
      onCardClick () {
        this.$emit('clicked')
      }
    }
  }
</script>

<style scoped>
</style>
