<!--
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div class="editor-right-panel-tab-content-card" @click="onCardClick">
    <div class="editor-right-panel-tab-content-card-thumbnail" v-if="data.thumbnailUrl || data.qualities">
      <lazy-img
        :background-color="data.thumbnailColor"
        :lazy-src="thumbnailUrl"
        v-if="!isDataChanged"
      />
      <img :src="thumbnailUrl" v-else/>
    </div>

    <i class="editor-right-panel-tab-content-card-icon" v-else-if="tab.iconName">
      <fa :icon="[tab.iconTag, tab.iconName]"/>
    </i>

    <div class="editor-right-panel-tab-content-card-caption">
      {{data.name}}
    </div>
  </div>
</template>

<script>
  export default {
    name: "RightPanelTabContentCard",
    props: {
      data: {
        type: Object,
        default: () => {}
      },
      tab: {
        type: Object,
        default: () => {}
      }
    },
    data: () => ({
      initDataId: null
    }),
    beforeMount() {
      this.initDataId = this.data._id
    },
    computed: {
      thumbnailUrl() {
        if (this.data.qualities !== undefined) {
          let material = this.data;
          return material.fileUrl("small", 60)
        } else if (this.data.thumbnailUrl) {
          return this.data.thumbnailUrl
        }
      },
      isDataChanged() {
        return !(this.initDataId === this.data._id)
      }
    },
    methods: {
      onCardClick: function () {
        switch (this.tab.name) {
          case 'projects': {
            this.$router.push({ path: `/editor/${this.data._id}` })
            break
          }
          case 'models': {
            // this.$notify({ group: 'editor', type: 'common', title: 'Loading...', text: 'Ща буит, епт' })
            // this.$editor.setModel(this.data)
            // this.$editor.execute(this.$editor.commander.setModelByIdCommand.init(this.data._id))
            this.$editor.execute(this.$editor.commander.setModelCommand.init(this.data))
            this.$emit('clicked')
            break
          }
          case 'surfaces': {
            this.$editor.execute(this.$editor.commander.setSurfaceCommand.init(this.data._id))
            this.$emit('clicked')
            break
          }
          case 'materials': {
            this.$editor.execute(this.$editor.commander.setMaterialByIdCommand.init(this.data._id))
            this.$emit('clicked')
            break
          }
          case 'trends': {
            this.$editor.execute(this.$editor.commander.setTrendCommand.init(this.data))
            this.$emit('clicked')
            break
          }
          case 'environments': {
            break
          }
          default:
            break
        }
      }
    }
  }
</script>

<style scoped>
</style>
