<!--
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div id="editorRightPanel" :class="panelClass">

    <div class="editor-right-panel-tabs">
      <right-panel-tab-button v-for="(tab, index) in tabs"
                              :tab="tab"
                              :is-active="activeTab.name === tab.name && !panelHidden"
                              :key="`editor-right-panel-tab-${index}`"
                              @clicked="onTabButtonClick">

      </right-panel-tab-button>
    </div>

    <right-panel-tab-content :tab="activeTab"
                             :data="activeTabData"
                             @clicked="onCardClick">
    </right-panel-tab-content>

  </div>
</template>

<script>
  import RightPanelTabButton from './RightPanelTabButton'
  import RightPanelTabContent from './RightPanelTabContent'

  export default {
    name: "RightPanel",
    components: {
      RightPanelTabButton,
      RightPanelTabContent
    },
    data: () => ({
      activeTab: {},
      activeTabData: [],
      panelHidden: true,
    }),
    props: {
      tabs: {
        type: Array,
        default: () => [],
      }
    },
    computed: {
      panelClass() {
        if (this.panelHidden) {
          return 'editor-right-panel-hidden'
        } else {
          return 'editor-right-panel'
        }
      }
    },
    mounted() {
      const self = this
      const surfacesTab = self.tabs.find(tab => tab.name == 'surfaces')
      const materialsTab = self.tabs.find(tab => tab.name == 'materials')

      this.$editor.showSurfacesPanel = function (show) {
        if ((self.activeTab.name !== 'surfaces' && show) ||
          (self.panelHidden && show) ||
          (self.activeTab.name === 'surfaces' && !show && !self.panelHidden)) {
          self.onTabButtonClick(surfacesTab)
        }
      }
      this.$editor.showMaterialsPanel = function (show) {
        if ((self.activeTab.name !== 'materials' && show) ||
          (self.panelHidden && show) ||
          (self.activeTab.name === 'materials' && !show && !self.panelHidden)) {
          self.onTabButtonClick(materialsTab)
        }
      }
    },
    methods: {
      onCardClick() {
        this.panelHidden = true
      },

      async onTabButtonClick(tab) {
        if (this.activeTab.name === tab.name && !this.panelHidden) {
          this.panelHidden = true
        } else {
          this.panelHidden = false
          this.activeTab = tab
          this.activeTabData = []

          switch (this.activeTab.name) {
            case 'projects': {
              if (this.$store.state.projects.commonProjectsList.length) {
                this.activeTabData = this.$store.state.projects.commonProjectsList
              } else {
                this.activeTabData = await this.$api.projects.getAll()
              }
              break
            }
            case 'models': {
              if (this.$store.state.models.list.length) {
                this.activeTabData = this.$store.state.models.list
              } else {
                this.activeTabData = await this.$api.models.getAll()
              }
              break
            }
            case 'surfaces': {
              if (this.$store.state.surfaces.list.length) {
                this.activeTabData = this.$store.state.surfaces.list
              } else {
                this.activeTabData = await this.$api.surfaces.getAll()
              }
              break
            }
            case 'materials': {
              if (this.$store.state.materials.list.length) {
                this.activeTabData = this.$store.state.materials.list
              } else {
                this.activeTabData = await this.$api.materials.getAll()
              }
              break
            }
            case 'trends': {
              if (this.$store.state.trends.list.length) {
                this.activeTabData = this.$store.state.trends.list
              } else {
                this.activeTabData = await this.$api.trends.getAll()
              }
              break
            }
            case 'environments': {
              if (this.$store.state.environments.list.length) {
                this.activeTabData = this.$store.state.environments.list
              } else {
                this.activeTabData = await this.$api.environments.getAll()
              }
              break
            }
            default: {
              break
            }
          }
        }
      },
    },
  }
</script>

<style scoped>
</style>
