/*!
 * Project: artrend-frontend
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2019.
 */

@import "editor/top-panel";
@import "editor/left-panel";
@import "editor/right-panel";
@import "editor/bottom-panel";

.editor{
}

#editorViewport{
  //width: calc(100% - #{$editor-left-panel-width} - #{$editor-right-panel-width});
  //height: calc(100% - #{$editor-top-panel-height} - #{$editor-bottom-panel-height});
  width: 100%;
  height: 100%;
  position: fixed;
  //margin-top: $editor-top-panel-height;
  //margin-left: $editor-left-panel-width;
}
