/*!
 * Project: artrend-frontend
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2018.
 */

#login-page{
  background: $login-page-background-color;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  font-weight: $login-page-title-font-weight !important;
  font-size: $login-page-title-font-size;
  font-family: $font-family;
  color: $login-page-title-font-color !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left !important;
}
.form-login{
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  margin: 0 20px;
}
.form-login label{
  display: none;
}
.form-login input{
  position: relative;
  display: block;
  box-sizing: border-box;
  height: auto;
  padding: 15px 20px;
  font-size: 13px;
  width: 100%;
  margin: 0 auto 10px;
  color: #929292;
  border: solid 1px #e1e1e1;
  transition: all 0.3s ease 0s;
}
.form-login input:focus{
  outline: none;
  background: rgba(0, 0, 0, 0.03);
}
.form-login-buttons{
  margin-top: 20px;
}
.form-login button{
  background: $theme-color;
  color: $white;
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  height: 60px;
  margin: 10px auto ;
  transition: all 0.3s ease 0s;
}
.form-login button:focus{
  outline: none;
  border: none;
}
