// Common
@import "variables";
@import "typography";
@import "notifications";

// Classes
@import "classes";

// Login
@import "login";

// Dashboard
@import "dashboard";

// Editor
@import "editor";

body{
  cursor: default;
  font-family: $font-family;
  font-weight: $font-weight-light;
  color: $font-color-grey;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  background: $background-white-color;
}

::-webkit-scrollbar {
  display: none;
}

.page-enter-active, .page-leave-active {
  transition: opacity .25s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
