/*!
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2019.
 */

.dashboard-notification {

  padding: 10px;
  margin: 5px 5px 0;

  font-size: 12px;

  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }

  &.common {
    background: #f5f5f5;
    border-left-color: $black;
    color: $black;
  }
}

.notification {

  border-radius: 0 !important;

}
