/*!
 * Project: artrend-frontend
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2018.
 */

/* Colors */
$white: #fff !default;
$black: #080808 !default;
$background-white-color: $white !default;
$background-light-color: #e7e8eb !default;
$background-black-color: #080808 !default;
$theme-color: $black !default;

/* Typoghraphy */
$font-family: Montserrat, Catamaran, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;

$font-color: $black !default;
$font-color-grey: #929292 !default;

$font-size-base: 14px !default;
$font-size-small: 12px !default;
$font-paragraph: 14px !default;

$line-height-general: 1.2em !default;

$font-weight-normal: 500 !default;;
$font-weight-bold: 600 !default;
$font-weight-light: 300 !default;

$font-size-h1: 42px !default;
$font-size-h2: 36px !default;
$font-size-h3: 30px !default;
$font-size-h4: 24px !default;
$font-size-h5: 18px !default;
$font-size-h6: 14px !default;

/* Common */
$button-border-radius: 0 !important;

/* LOGIN */
// Common
$login-page-background-color: $background-white-color;

//title
$login-page-title-font-size: 30px;
$login-page-title-font-weight: $font-weight-light;
$login-page-title-font-color: $black;

/* DASHBOARD */
// Common
$dashboard-padding-top: 60px;

// Sidebar
$dashboard-sidebar-width: 300px;
$dashboard-sidebar-content-width: 65%;
$dashboard-sidebar-font-color: $black;
// wrapper
$dashboard-sidebar-wrapper-background-color: $background-white-color;
$dashboard-sidebar-wrapper-padding: $dashboard-padding-top 15px 25px;
// title
$dashboard-sidebar-title-font-size: 22px;
$dashboard-sidebar-title-width: $dashboard-sidebar-content-width;
$dashboard-sidebar-title-margin: 0 auto 40px;
$dashboard-sidebar-title-padding: 0;
$dashboard-sidebar-title-font-weight: $font-weight-normal;
// tabs
$dashboard-sidebar-tabs-padding: 0;
$dashboard-sidebar-tabs-width: $dashboard-sidebar-content-width;
$dashboard-sidebar-tabs-font-size: 14px;
$dashboard-sidebar-tabs-font-weight: $font-weight-normal;
$dashboard-sidebar-tabs-text-transform: uppercase;
// section
$dashboard-sidebar-tabs-section-padding: 0 0 15px;
$dashboard-sidebar-tabs-section-title-padding: 8px 0;
$dashboard-sidebar-tabs-section-title-font-color: rgba(0, 0, 0, 0.25);
// single tab
$dashboard-sidebar-tab-height: 35px;
$dashboard-sidebar-tab-icon-size: 16px;
$dashboard-sidebar-tab-icon-ml: 15px;
$dashboard-sidebar-tab-margin: 0;
$dashboard-sidebar-tab-padding: 0;
$dashboard-sidebar-tab-hover-background-color: rgba(0, 0, 0, 0.0);
$dashboard-sidebar-tab-active-background-color: rgba(0, 0, 0, 0.0);

// Content
$dashboard-content-width: calc(100% - #{$dashboard-sidebar-width});
$dashboard-content-background-color: #fff;

// Header
$dashboard-content-header-font-size: 16px;
$dashboard-content-header-content-height: 0px;
$dashboard-content-header-height: calc(#{$dashboard-content-header-content-height} + #{$dashboard-padding-top});
$dashboard-content-header-padding: $dashboard-padding-top 0 0;

// Body
$dashboard-content-body-padding: 0 $dashboard-padding-top 0 0;
// card
$dashboard-content-body-card-height: 200px;
$dashboard-content-body-card-margin: 0.5em;
$dashboard-content-body-card-width: calc(33.3% - #{$dashboard-content-body-card-margin} * 2);
$dashboard-content-body-card-min-width: 150px;
$dashboard-content-body-card-caption-height: 24%;
$dashboard-content-body-card-image-height: 60px;
// cards
$dashboard-content-body-cards-height: calc(100% - #{$dashboard-padding-top});
$dashboard-content-body-cards-width: calc(100%);
$dashboard-content-body-cards-padding: 25px 0;
$dashboard-content-body-cards-margin: calc(-#{$dashboard-content-body-card-margin} + 0.05em);

// Footer
$dashboard-content-footer-background-color: $white;
$dashboard-content-footer-height: 60px;
$dashboard-content-footer-padding: 0;


/* EDITOR */

// top
$editor-top-panel-height: 50px;
$editor-top-panel-padding: 0 15px;

// left
$editor-left-panel-width: 0px;

// right
$editor-right-panel-tabs-width: 40px;
$editor-right-panel-tab-content-width: 180px;
$editor-right-panel-tab-content-title-height: 50px;
$editor-right-panel-width: calc(#{$editor-right-panel-tab-content-width} + #{$editor-right-panel-tabs-width});
$editor-right-panel-margin-right: 0px;
$editor-right-panel-tab-content-card-height: 150px;
$editor-right-panel-tab-content-card-margin: 15px;
$editor-right-panel-tab-content-card-caption-height: 40px;
$editor-right-panel-tab-content-card-icon-height: calc(#{$editor-right-panel-tab-content-card-height} - #{$editor-right-panel-tab-content-card-caption-height});

// bottom
$editor-bottom-panel-height: 40px;
