/*!
 * Project: artrend-frontend
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2019.
 */

.editor-bottom-panel {
  height: $editor-bottom-panel-height;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  //background: #D3D3D3;
  z-index: 1;

  .editor-bottom-panel-buttons {
    float: right;
    margin: auto 5px;
  }
}
