/*!
 * Project: artrend-frontend
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2019.
 */

.editor-left-panel{
  height: calc(100% - #{$editor-top-panel-height});
  width: $editor-left-panel-width;
  position: fixed;
  top: $editor-top-panel-height;
  left: 0;
  background: #2d2d2d;
}
