/*!
 * Project: artrend-frontend
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2019.
 */

.editor-right-panel,
.editor-right-panel-hidden {
  position: absolute;
  height: calc(100% - #{$editor-bottom-panel-height});
  width: $editor-right-panel-width;
  top: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1;

  .editor-right-panel-tabs {
    position: absolute;
    top: 50%;
    left: 0;
    width: $editor-right-panel-tabs-width;
    transform: translate(0, -50%);
    background: $white;
    box-shadow: -4px 0 5px 0px rgba(0, 0, 0, 0.05);
    z-index: 3;

    .editor-right-panel-tab-button,
    .editor-right-panel-tab-button-active {
      width: $editor-right-panel-tabs-width;
      height: $editor-right-panel-tabs-width;
      background: $white;
      border: none;
      outline-width: 0;
      z-index: 11;

      .editor-right-panel-tab-button-favicon {
        font-size: calc(#{$editor-right-panel-tabs-width} * 0.45);
        color: $black;
      }
    }

    .editor-right-panel-tab-button:hover .editor-right-panel-tab-button-favicon,
    .editor-right-panel-tab-button-active .editor-right-panel-tab-button-favicon {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .editor-right-panel-tab-content {
    position: absolute;
    background: rgba(255, 255, 255, 0.65);
    width: $editor-right-panel-tab-content-width;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: -2px 0 6px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
    z-index: 2;

    .editor-right-panel-tab-content-title {
      position: absolute;
      height: $editor-right-panel-tab-content-title-height;
      line-height: $editor-right-panel-tab-content-title-height;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      color: $black;
      background: rgba(255, 255, 255, 0.8);
      z-index: 1;
    }

    .editor-right-panel-tab-content-cards {
      position: absolute;
      width: $editor-right-panel-tab-content-width;
      top: $editor-right-panel-tab-content-title-height;
      bottom: 0;
      overflow: scroll;
      z-index: 2;

      .editor-right-panel-tab-content-card {
        position: relative;
        height: $editor-right-panel-tab-content-card-height;
        margin: $editor-right-panel-tab-content-card-margin;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
        text-align: center;
        background: rgba(239, 239, 239, 0.85);

        .editor-right-panel-tab-content-card-thumbnail {
          position: absolute;
          top: 0;
          right: 0;
          bottom: $editor-right-panel-tab-content-card-caption-height;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .editor-right-panel-tab-content-card-icon {
          width: 100%;
          height: $editor-right-panel-tab-content-card-icon-height;
          line-height: $editor-right-panel-tab-content-card-icon-height;
          color: rgba(175, 175, 175, 0.5);
          font-size: calc(#{$editor-right-panel-tab-content-card-icon-height} / 2.0);
        }

        .editor-right-panel-tab-content-card-caption {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: $editor-right-panel-tab-content-card-caption-height;
          line-height: $editor-right-panel-tab-content-card-caption-height;
          text-align: center;
          overflow: hidden;
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}


.editor-right-panel-hidden {
  right: -$editor-right-panel-tab-content-width !important;
}
