/*!
 * Project: artrend-frontend
 * Author: Max Schnaider / @maxschnaider
 * Copyright (c) 2019.
 */

.editor-top-panel {

  position: absolute;
  height: $editor-top-panel-height;
  width: 100%;
  top: 0;
  left: 0;
  line-height: $editor-top-panel-height;
  padding: $editor-top-panel-padding;
  z-index: 1;

  a {

    color: $black;
    text-transform: uppercase;
    //font-weight: bold;

    i {
      margin-right: 8px;
      padding: 0;
      font-size: 14px;
    }

  }

}
