<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2018.
  -->

<template lang="html">
  <div id="loading"></div>
</template>

<script>
  export default {
    data: () => ({
      loading: false
    }),
    methods: {
      start () {
        this.loading = true;
        this.$store.commit('setLoadingState', true);
        console.log('start loading');
      },
      finish () {
        this.loading = false;
        this.$store.commit('setLoadingState', false);
        console.log('finish loading');
      }
    }
  }
</script>

<style scoped>
  #loading{
    display: none;
  }
</style>
