<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2018.
  -->

<template>
  <div id="dashboard">
    <notifications
      group="dashboard"
      classes="dashboard-notification"
      position="top right"
      :max="3"
      :duration="5000"/>

    <side-bar :content="sidebarContent"/>

    <div class="dashboard-content hero is-fullheight">
      <content-header/>
      <content-body/>
      <content-footer/>
    </div>
  </div>
</template>

<style lang="scss">
</style>

<script>
  import SideBar from './dashboard/SideBar';
  import ContentHeader from './dashboard/ContentHeader.vue'
  import ContentBody from './dashboard/ContentBody.vue'
  import ContentFooter from './dashboard/ContentFooter.vue'

  export default {
    components: {
      SideBar,
      ContentBody,
      ContentHeader,
      ContentFooter
    },

    data () {
      return {
        sidebarContent: [
          {
            name: '',
            tabs: [
              {
                name: 'Projects',
                path: 'projects',
                iconTag: 'fas',
                iconName: 'drafting-compass'
              },
              {
                name: 'Teams',
                path: 'teams',
                iconTag: 'fas',
                iconName: 'users'
              }
            ]
          },
          {
            name: 'Marketplace',
            tabs: [
              {
                name: 'Catalog',
                path: 'marketplace',
                iconTag: 'fas',
                iconName: 'store'
              }
            ]
          },
          {
            name: 'Admin',
            access: 'admin',
            tabs: [
              {
                name: 'Models',
                path: 'models',
                iconTag: '',
                iconName: ''
              },
              {
                name: 'Trends',
                path: 'trends',
                iconTag: '',
                iconName: ''
              },
              {
                name: 'Materials',
                path: 'materials',
                iconTag: '',
                iconName: ''
              },
              {
                name: 'Material Categories',
                path: 'materialcategories',
                iconTag: '',
                iconName: ''
              },
              {
                name: 'Surfaces',
                path: 'surfaces',
                iconTag: '',
                iconName: ''
              },
              {
                name: 'Environments',
                path: 'environments',
                iconTag: '',
                iconName: ''
              },
              {
                name: '3D Editor',
                path: 'editor',
                iconTag: '',
                iconName: ''
              },
            ]
          }
        ],
      }
    }
  }

</script>
