<!--
  - Project: artrend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div id="editor" class="editor hero is-fullheight">
    <notifications
      group="editor"
      classes="dashboard-notification"
      position="top right"
      :max="3"
      :duration="5000"/>

    <top-panel></top-panel>
    <!--<left-panel></left-panel>-->
    <right-panel :tabs="rightPanelTabs"></right-panel>
    <bottom-panel></bottom-panel>

    <div id="editorViewport"></div>
    <nuxt/>
  </div>
</template>

<script>
  import TopPanel from '../components/editor/TopPanel'
  import LeftPanel from '../components/editor/LeftPanel'
  import RightPanel from '../components/editor/right/RightPanel'
  import BottomPanel from '../components/editor/BottomPanel'

  export default {
    name: "editorLayout",
    components: {
      TopPanel,
      BottomPanel,
      LeftPanel,
      RightPanel
    },
    data: () => ({
      rightPanelTabs: [
        {
          name: 'projects',
          iconName: 'pencil-ruler',
          IconTag: 'fas'
        },
        {
          name: 'models',
          iconName: 'warehouse',
          IconTag: 'fas'
        },
        {
          name: 'surfaces',
          iconName: 'layer-group',
          IconTag: 'fas'
        },
        {
          name: 'materials',
          iconName: 'layer-group',
          IconTag: 'fas'
        },
        {
          name: 'trends',
          iconName: 'magic',
          IconTag: 'fas'
        },
        {
          name: 'environments',
          iconName: 'tree',
          IconTag: 'fas'
        },
      ],
    }),
    mounted () {
      this.$editor.init(document.getElementById('editorViewport'))
    },
    destroyed () {
      this.$editor.deinit()
    }
  }
</script>

<style scoped>
</style>
