<!--
  - Project: artrend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div id="editorPage">
  </div>
</template>

<script>
  export default {
    auth: false,
    name: "projectEditor",
    layout: 'editor',

    // async validate ({ params }) {
    //   return /^\d+$/.test(params.projectId)
    // },

    mounted () {
      console.log('MOUNT')
      setTimeout(() => {
        this.$editor.execute(this.$editor.commander.setProjectByIdCommand.init(this.$route.params.projectId))
      }, 50)
    },
  }
</script>

<style scoped>
</style>
