<!--
  - Project: artrend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div id="editorPage"></div>
</template>

<script>
  export default {
    auth: false,
    name: "editor",
    layout: 'editor'
  }
</script>

<style lang="scss">
</style>
