<!--
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div id="environmentsPage">

    <button class="button is-black dashboard-content-body-button" @click="onAddButtonClick">Add environment</button>

    <div class="form" v-if="!formHidden">

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" name="name" placeholder="My Best Environment" v-model="name">
        </div>
      </div>

      <div class="field" v-if="!selectedEnvironment">
        <div class="file is-black has-name">
          <label class="file-label">
            <input class="file-input" type="file" name="file" id="file" ref="file" @change="handleFileUpload">
            <span class="file-cta">
      <span class="file-icon">
      <i><fa :icon="['fas', 'cloud-upload-alt']"/></i>
      </span>
      <span class="file-label">
      .jpg files…
      </span>
      </span>
            <span class="file-name" v-if="file">
      {{file.name}}
      </span>
          </label>
        </div>
      </div>

      <button class="button is-black" @click="add" v-if="!selectedEnvironment">Submit</button>
      <div class="buttons" v-else>
        <button class="button is-black" @click="update">Update</button>
        <button class="button is-black" @click="remove">Remove</button>
      </div>

    </div>

    <div class="dashboard-content-body-cards columns is-multiline is-mobile is-1" v-if="environments.length">

      <card v-for="(environment, index) in environments"
            :key="`environment-card-${index}`"
            :data="environment"
            :icon="{tag:'fas', name:'tree'}"
            @clicked="onCardClick">
      </card>

    </div>

    <div v-else-if="$store.state.loading">Loading...</div>

  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Card from '../components/dashboard/content/cards/Card'

  export default {

    layout: 'dashboard',
    name: "environments",

    components: {
      Card
    },

    data: () => ({
      file: '',
      name: '',
      formHidden: true,
      selectedEnvironment: ''
    }),

    mounted () {
      if (!this.environments.length) {
        this.$api.environments.getAll();
      }
    },

    computed: {
      ...mapGetters({
        environments: 'environments/list'
      })
    },

    methods: {

      clearForm () {
        this.selectedEnvironment = '';
        this.name = '';
        this.file = '';
        this.formHidden = true;
      },

      onAddButtonClick () {
        if (this.selectedEnvironment) {
          this.clearForm();
          this.formHidden = false;
        } else {
          this.formHidden = !this.formHidden;
        }
      },

      onCardClick (environment) {
        if (this.selectedEnvironment._id === environment._id) {
          this.clearForm();
        } else {
          this.selectedEnvironment = environment;
          this.name = environment.name;
          this.formHidden = false;
        }
      },

      validateFile (file) {
        if (file.name.split('.').pop().toLowerCase() !== 'jpg' ) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'The file must have .jpg exception'});
          return false;
        } else if (file.size > 10 * 1024 * 1024) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Max file size - 10 Mb'});
          return false;
        }
        return true;
      },

      handleFileUpload () {
        let file = this.$refs.file.files[0];
        this.file = this.validateFile(file) ? file : '';
      },

      async add () {

        if (!this.file) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Choose your .jpg file'});
          return;
        } else if (!this.name) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Name field can not be empty'});
          return;
        }

        let formData = new FormData();
        formData.append('file', this.file);
        formData.append('name', this.name);

        this.clearForm();

        this.$notify({group: 'dashboard', type: 'common', title: 'Uploading...', text: 'The process can take some time'});

        let res = await this.$api.environments.create(formData);

        if (!res.error) {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Environment was successfully uploaded'});
        } else {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error});
        }
      },

      async update () {

        let newEnvironment = Object.assign({}, this.selectedEnvironment);
        newEnvironment.name = this.name;

        this.clearForm();

        let res = await this.$api.environments.update(newEnvironment);

        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error});
        } else {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Environment was successfully updated'});
        }
      },

      async remove () {

        let environment = Object.assign({}, this.selectedEnvironment);

        this.clearForm();

        let res = await this.$api.environments.remove(environment);

        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error});
        } else {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Environment was successfully removed'});
        }
      }

    }

  }
</script>

<style scoped>
</style>
