<template>
  <div id="app"></div>
</template>

<script>
  export default {
    asyncData(context) {
      if (context.app.$auth.loggedIn){
        return context.redirect('/projects');
      }
    }
  }
</script>

<style>
</style>
