<!--
  - Project: artrend-client
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2018.
  -->

<template>
  <div id="login-page">
    <div class="container">
      <form class="form-login" id="form-login" @submit.prevent="login">
        <h2 class="title">artrend</h2>
        <label for="username">Username</label>
        <input :value="username" @input="username = $event.target.value" type="username" id="username" name="username" placeholder="Username" required autofocus>
        <label for="password">Password</label>
        <input :value="password" @input="password = $event.target.value" type="password" id="password" name="password" placeholder="Password" required>
        <div class="form-login-buttons">
          <button :class="loginButtonClass">Sign in</button>
          <button class="button is-dark is-outlined" @click="guestVisit" disabled>Guest</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    auth: false,
    asyncData(context) {
      if (context.app.$auth.loggedIn){
        return context.redirect('/projects');
      }
    },
    data: () => ({
      username: '',
      password: ''
    }),
    computed: {
      loginButtonClass () {
        if (this.$store.state.loading) {
          return 'button is-loading';
        } else {
          return 'button';
        }
      }
    },
    methods: {
      login: async function() {
        this.$nuxt.$loading.start();
        setTimeout(() => this.$nuxt.$loading.finish(), 2000);

        const {username, password} = this;

        await this.$auth.loginWith('local', {
          data: {
            username: username.toLowerCase(),
            password: password
          }
        });

        if (this.$auth.loggedIn) {
          if (this.$route.params.nextUrl != null) {
            this.$router.replace(this.$route.params.nextUrl);
          }
          else {
            this.$router.replace('/projects');
          }
        }
      },
      guestVisit: function() {
        this.$router.replace('/demo');
      }
    }
  }
</script>

<style lang="scss">
  /*@import "../assets/scss/main";*/
</style>
