<!--
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div id="materialsPage">
    <button class="button is-black dashboard-content-body-button" @click="onAddButtonClick">Add material</button>

    <div class="columns is-marginless" v-if="!formHidden">
      <div class="column form is-5">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="My Best Material" v-model="name">
          </div>
        </div>

        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <div class="select is-black">
              <select @change="onCategoryChange($event)">
                <option>Select category</option>
                <option v-for="(category, index) in categories"
                        :key="`category-option-${index}`"
                        :value="index">
                  {{category.name}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <input type="checkbox" id="noTextureCheckbox" v-model="noTexture" @change="onNoTextureChange">
          <label class="label" for="noTextureCheckbox">No texture</label>
        </div>

        <div class="field" v-if="!noTexture">
          <div class="file is-black has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="file" id="file" ref="file" @change="handleFileUpload">
              <span class="file-cta">
              <span class="file-icon">
                <i><fa :icon="['fas', 'cloud-upload-alt']"/></i>
              </span>
              <span class="file-label">
                .jpg file…
              </span>
            </span>
              <span class="file-name" v-if="file">
              {{file.name}}
            </span>
            </label>
          </div>
        </div>

        <div class="settings" v-if="texture || selectedMaterial || noTexture">
          <div class="columns" v-if="!noTexture">
            <div class="field column">
              <label class="label">ScaleX</label>
              <div class="control">
                <input class="input" type="text" placeholder="0.5" v-model="scaleX" @change="onTextureSettingsChange">
              </div>
            </div>
            <div class="field column">
              <label class="label">ScaleY</label>
              <div class="control">
                <input class="input" type="text" placeholder="0.5" v-model="scaleY" @change="onTextureSettingsChange">
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="field column" v-if="!noTexture">
              <label class="label">Rotation</label>
              <div class="control">
                <input class="input" type="text" placeholder="0.5" v-model="rotation" @change="onTextureSettingsChange">
              </div>
            </div>
            <div class="field column">
              <label class="label">Roughness</label>
              <div class="control">
                <input class="input" type="text" placeholder="0.5" v-model="roughness" @change="onTextureSettingsChange">
              </div>
            </div>
            <div class="field column">
              <label class="label">Metalness</label>
              <div class="control">
                <input class="input" type="text" placeholder="0.5" v-model="metalness" @change="onTextureSettingsChange">
              </div>
            </div>
            <div class="field column" v-if="noTexture">
              <label class="label">Color</label>
              <div class="control">
                <input class="input" type="text" placeholder="#ffffff" v-model="color" @change="onTextureSettingsChange">
              </div>
            </div>
            <div class="field column" v-if="noTexture">
              <label class="label">Opacity</label>
              <div class="control">
                <input class="input" type="text" placeholder="1.0" v-model="opacity" @change="onTextureSettingsChange">
              </div>
            </div>
          </div>
        </div>

        <div class="buttons" v-if="!selectedMaterial">
          <button class="button is-black" @click="add">Submit</button>
          <button class="button is-black is-outlined" v-if="file" @click="clearForm(true)">Clear</button>
        </div>
        <div class="buttons" v-else>
          <button class="button is-black" @click="update">Update</button>
          <button class="button is-black" @click="remove">Remove</button>
        </div>
      </div>

      <div class="column is-7">
        <div class="control level">
          <div class="select is-black">
            <select class="is-radiusless" @change="onModelChange($event)">
              <option>Select model</option>
              <option v-for="(model, index) in models"
                      :key="`model-option-${index}`"
                      :value="index">
                {{model.name}}
              </option>
            </select>
          </div>
          <input class="input is-radiusless" type="text" placeholder="a" v-model="helperA" @change="onHelperSettingsChange">
          <input class="input is-radiusless" type="text" placeholder="b" v-model="helperB" @change="onHelperSettingsChange">
          <input class="input is-radiusless" type="text" placeholder="c" v-model="helperC" @change="onHelperSettingsChange">
          <input class="input is-radiusless" type="text" placeholder="x" v-model="helperX" @change="onHelperSettingsChange">
          <input class="input is-radiusless" type="text" placeholder="y" v-model="helperY" @change="onHelperSettingsChange">
          <input class="input is-radiusless" type="text" placeholder="z" v-model="helperZ" @change="onHelperSettingsChange">
        </div>

        <div id="editorQuickViewPort"></div>
      </div>
    </div>

    <div class="dashboard-content-body-cards columns is-multiline is-mobile is-1" v-if="materials.length">
      <card v-for="(material, index) in materials"
            :key="`material-card-${index}`"
            :data="material"
            :icon="{tag:'fas', name:'layer-group'}"
            @clicked="onCardClick">
      </card>
    </div>
    <div v-else-if="$store.state.loading">Loading...</div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import * as THREE from 'three'
  import Card from '../components/dashboard/content/cards/Card'

  export default {
    layout: 'dashboard',
    name: "materials",

    components: {
      Card
    },

    data: () => ({
      file: '',
      name: '',
      categoryId: '',
      formHidden: true,
      selectedMaterial: '',
      filePath: '',
      fileUrl: '',
      fileName: '',
      command: '',
      texture: '',
      scaleX: 1.0,
      scaleY: 1.0,
      rotation: 0,
      roughness: 0.5,
      metalness: 0.5,
      helperA: '',
      helperB: '',
      helperC: '',
      helperX: '',
      helperY: '',
      helperZ: '',
      noTexture: false,
      opacity: 0.3,
      color: '#ffffff',
    }),

    mounted () {
      if (!this.materials.length ) {
        this.$api.materials.getAll()
      }
      if (!this.categories.length ) {
        this.$api.materialCategories.getAll()
      }
      if (!this.models.length ) {
        this.$api.models.getAll()
      }
    },

    computed: {
      ...mapGetters({
        materials: 'materials/list',
        categories: 'materialcategories/list',
        models: 'models/list'
      })
    },

    methods: {
      async clearForm(removeFile) {
        if (removeFile) {
          let res = await this.$axios.post('/storage/remove', { filePath: "temp/assets/materials", fileName: this.fileName })
          if (res.error) {
            this.$notify({ group: 'dashboard', type: 'error', title: 'Error', text: 'Fail to remove temp file from the cloud' })
          }
        }
        this.selectedMaterial = ''
        this.name = ''
        this.file = ''
        this.fileUrl = ''
        this.fileName = ''
        this.filePath = ''
        this.command = ''
        this.texture = ''
        this.scaleX = 1.0
        this.scaleY = 1.0
        this.rotation = 0
        this.roughness = 0.5
        this.metalness = 0.5
        this.opacity = 1
      },

      onNoTextureChange() {
        let material = new THREE.MeshStandardMaterial({
          opacity: this.opacity,
          transparent: true,
          envMap: this.$editor.envMap,
          color: this.color
        })
        this.command = this.$editor.commander.setMaterialCommand.init(
          this.$editor.selected,
          this.$editor.selectedMaterialSlot,
          material
        )
        this.command.execute()
      },

      onAddButtonClick() {
        if (this.selectedMaterial) {
          this.clearForm()
          this.formHidden = false
          return
        }
        this.formHidden = !this.formHidden
      },

      onCategoryChange(event) {
        this.categoryId = this.categories[event.target.value]._id
      },

      onModelChange(event) {
        this.$notify({ group: 'dashboard', type: 'common', title: 'Loading...', text: 'Model is loading', duration: '3000' })
        setTimeout(() => {
          this.$editor.init(document.getElementById('editorQuickViewPort'))
          this.$editor.setModel(this.models[event.target.value])
          let helperBrick = new THREE.Mesh(new THREE.BoxGeometry(1, 1, 1), new THREE.MeshBasicMaterial({ color: 0xff0000 }))
          this.$editor.helperBrick = helperBrick
          this.$editor.commander.addObjectCommand.init(helperBrick).execute()
        }, 100)
      },

      onCardClick(material) {
        this.clearForm()
        if (this.selectedMaterial._id === material._id) {
          this.formHidden = true
        } else {
          this.selectedMaterial = material
          this.name = material.name
          this.filePath = material.filePath
          this.fileName = material.fileName
          this.categoryId = material.categoryId
          this.scaleX = material.settings.scaleX
          this.scaleY = material.settings.scaleY
          this.rotation = material.settings.rotation
          this.roughness = material.settings.roughness
          this.metalness = material.settings.metalness
          this.opacity = material.settings.opacity
          this.color = material.settings.color
          this.formHidden = false
        }
      },

      validateFile(file) {
        if (file.name.split('.').pop().toLowerCase() !== 'jpg' && file.name.split('.').pop().toLowerCase() !== 'png') {
          this.$notify({ group: 'dashboard', type: 'warn', title: 'Warning', text: 'The file must have .jpg or .png extension' })
          return false
        } else if (file.size > 50 * 1024 * 1024) {
          this.$notify({ group: 'dashboard', type: 'warn', title: 'Warning', text: 'Max file size - 50 Mb'})
          return false
        }
        return true
      },

      async handleFileUpload() {
        let file = this.$refs.file.files[0]
        this.file = this.validateFile(file) ? file : ''

        if (this.file) {
          this.filePath = this.selectedMaterial ? this.selectedMaterial.filePath : 'assets/materials/' + Date.now().toString()
          let formData = new FormData()
          formData.append('file', this.file)
          formData.append('name', this.name)
          formData.append('filePath', this.filePath)
          formData.append('fileName', this.file.name)

          this.$notify({ group: 'dashboard', type: 'common', title: 'Processing...', text: 'Wait please' })

          let res = await this.$axios.post('/storage/upload', formData, { headers: { 'Content-Type': 'multipart/form-data' }})

          this.fileUrl = res.data.fileUrl
          this.fileName = res.data.fileName
          if (!this.fileUrl || !this.fileName) {
            this.$notify({ group: 'dashboard', type: 'error', title: 'Error', text: 'Fail to upload' })
            return
          }

          this.$notify({ group: 'dashboard', type: 'success', title: 'Done', text: 'Image uploaded' })

          if (this.$editor.model) {
            this.$editor.loader.loadTexture(this.fileUrl, (texture) => {
              if (!texture) {
                this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: 'Texture loading error'})
                return
              }

              texture.wrapS = THREE.RepeatWrapping
              texture.wrapT = THREE.RepeatWrapping
              texture.repeat.set(this.scaleX, this.scaleY)
              this.texture = texture

              this.command = this.$editor.commander.setMaterialCommand.init(
                this.$editor.selected,
                this.$editor.selectedMaterialSlot,
                new THREE.MeshStandardMaterial({ map: texture })
              )

              this.command.execute()
            })
          }
        }
      },

      onTextureSettingsChange() {
        if (this.noTexture) {
          this.command.material = new THREE.MeshStandardMaterial({
            opacity: this.opacity,
            transparent: true,
            envMap: this.$editor.envMap,
            roughness: this.roughness,
            metalness: this.metalness,
            color: this.color
          })
        } else {
          this.texture.repeat.set(this.scaleX, this.scaleY)
          this.texture.rotation = this.rotation
          this.command.material = new THREE.MeshStandardMaterial({
            map: this.texture,
            roughness: this.roughness,
            metalness: this.metalness
          })
        }
        this.command.execute()
      },

      onHelperSettingsChange() {
        this.$editor.commander.removeObjectCommand.init(this.$editor.helperBrick).execute()
        let helperBrick = new THREE.Mesh(new THREE.BoxGeometry(this.helperA, this.helperB, this.helperC), new THREE.MeshBasicMaterial({ color: 0xff0000 }))
        this.$editor.helperBrick = helperBrick
        this.$editor.commander.addObjectCommand.init(helperBrick).execute()
        this.$editor.commander.setPositionCommand.init(this.$editor.helperBrick, new THREE.Vector3(this.helperX, this.helperY, this.helperZ)).execute()
      },

      async add() {
        if (!this.noTexture) {
          if (!this.file || !this.fileName) {
            this.$notify({ group: 'dashboard', type: 'warn', title: 'Warning', text: 'Image isn\'t uploaded' })
            return
          } else if (!this.name) {
            this.$notify({ group: 'dashboard', type: 'warn', title: 'Warning', text: 'Name field can not be empty' })
            return
          } else if (!this.fileUrl || !this.fileName || !this.filePath) {
            this.$notify({ group: 'dashboard', type: 'warn', title: 'Warning', text: 'Image not uploaded' })
            return
          }
        }

        let newMaterialData;

        if (!this.noTexture) {
          newMaterialData = {
            name: this.name,
            filePath: this.filePath,
            fileName: this.fileName,
            categoryId: this.categoryId,
            settings: {
              scaleX: this.scaleX,
              scaleY: this.scaleY,
              rotation: this.rotation,
              roughness: this.roughness,
              metalness: this.metalness
            }
          }
        } else {
          newMaterialData = {
            name: this.name,
            categoryId: this.categoryId,
            settings: {
              scaleX: this.scaleX,
              scaleY: this.scaleY,
              rotation: this.rotation,
              roughness: this.roughness,
              metalness: this.metalness,
              color: this.color,
              opacity: this.opacity
            }
          }
        }

        // this.formHidden = true
        this.clearForm(true)
        this.$notify({ group: 'dashboard', type: 'common', title: 'Uploading...', text: 'The process can take some time' })

        let res = await this.$api.materials.create(newMaterialData)
        if (!res.error) {
          this.$notify({ group: 'dashboard', type: 'success', title: 'Done', text: 'Material was successfully uploaded' })
        } else {
          this.$notify({ group: 'dashboard', type: 'error', title: 'Error', text: res.error })
        }

      },

      async update() {
        if (!this.file || !this.fileName) {
          this.$notify({ group: 'dashboard', type: 'warn', title: 'Warning', text: 'Image isn\'t uploaded' })
          return
        }

        let updateMaterialData = Object.assign({}, this.selectedMaterial)
        updateMaterialData.fileName = this.fileName
        // this.clearForm()

        let res = await this.$api.materials.update(updateMaterialData)
        if (res.error) {
          this.$notify({ group: 'dashboard', type: 'error', title: 'Error', text: res.error })
        } else {
          this.$notify({ group: 'dashboard', type: 'success', title: 'Done', text: 'Material was successfully updated' })
        }
      },

      async remove() {
        let materialData = Object.assign({}, this.selectedMaterial)

        this.clearForm()
        this.formHidden = true

        let res = await this.$api.materials.remove(materialData)
        if (res.error) {
          this.$notify({ group: 'dashboard', type: 'error', title: 'Error', text: res.error })
        } else {
          this.$notify({ group: 'dashboard', type: 'success', title: 'Done', text: 'Material was successfully removed' })
        }
      },

    }
  }
</script>

<style scoped>
</style>
