<!--
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div id="categoriesPage">

    <button class="button is-black dashboard-content-body-button" @click="onAddButtonClick">Add category</button>

    <div class="form" v-if="!formHidden">

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" name="name" placeholder="My Best Category" v-model="name">
        </div>
      </div>

      <button class="button is-black" @click="add" v-if="!selectedCategory">Submit</button>
      <div class="buttons" v-else>
        <button class="button is-black" @click="update">Update</button>
        <button class="button is-black" @click="remove">Remove</button>
      </div>

    </div>

    <div class="dashboard-content-body-cards columns is-multiline is-mobile is-1" v-if="categories.length">

      <card v-for="(category, index) in categories"
            :key="`category-card-${index}`"
            :data="category"
            :icon="{tag:'fas', name:'layer-group'}"
            @clicked="onCardClick">
      </card>

    </div>

    <div v-else-if="$store.state.loading">Loading...</div>

  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Card from '../components/dashboard/content/cards/Card'

  export default {

    layout: 'dashboard',
    name: "categoriesPage",

    components: {
      Card
    },

    data: () => ({
      file: '',
      name: '',
      formHidden: true,
      selectedCategory: ''
    }),

    mounted () {
      if (!this.categories.length) {
        this.$api.materialCategories.getAll();
      }
    },

    computed: {
      ...mapGetters({
        categories: 'materialcategories/list'
      })
    },

    methods: {

      clearForm () {
        this.selectedCategory = '';
        this.name = '';
        this.file = '';
        this.formHidden = true;
      },

      onAddButtonClick () {
        if (this.selectedCategory) {
          this.clearForm();
          this.formHidden = false;
        } else {
          this.formHidden = !this.formHidden;
        }
      },

      onCardClick (materialCategory) {
        if (this.selectedCategory._id === materialCategory._id) {
          this.clearForm();
        } else {
          this.selectedCategory = materialCategory;
          this.name = materialCategory.name;
          this.formHidden = false;
        }
      },

      async add () {

        if (!this.name) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Name field can not be empty'});
          return;
        }

        let newCategory = {
          name: this.name
        };

        this.clearForm();

        let res = await this.$api.materialCategories.create(newCategory);

        if (!res.error) {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Category was successfully uploaded'});
        } else {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error});
        }
      },

      async update () {

        let newCategory = Object.assign({}, this.selectedCategory);
        newCategory.name = this.name;

        this.clearForm();

        let res = await this.$api.materialCategories.update(newCategory);

        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error});
        } else {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Category was successfully updated'});
        }
      },

      async remove() {
        let materialCategory = Object.assign({}, this.selectedCategory)

        this.clearForm()

        let res = await this.$api.materialCategories.remove(materialCategory)
        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error})
        } else {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Category was successfully removed'});
        }
      }
    }
  }
</script>

<style scoped>
</style>
