<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2018.
  -->

<template>
  <div id="modelsPage">

    <button class="button is-black dashboard-content-body-button" @click="onAddButtonClick">Add model</button>

    <div class="form" v-if="!formHidden">

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" name="name" placeholder="My Best Model" v-model="name">
        </div>
      </div>

      <div class="field" v-if="!selectedModel">
        <div class="file is-black has-name">
          <label class="file-label">
            <input class="file-input" type="file" name="file" id="file" ref="file" @change="handleFileUpload">
            <span class="file-cta">
              <span class="file-icon">
                <i><fa :icon="['fas', 'cloud-upload-alt']"/></i>
              </span>
              <span class="file-label">
                .fbx file…
              </span>
            </span>
            <span class="file-name" v-if="file">
              {{file.name}}
            </span>
          </label>
        </div>
      </div>

      <button class="button is-black" @click="add" v-if="!selectedModel">Submit</button>
      <div class="buttons" v-else>
        <button class="button is-black" @click="update">Update</button>
        <button class="button is-black" @click="remove">Remove</button>
      </div>

    </div>

    <div class="dashboard-content-body-cards columns is-multiline is-mobile is-1" v-if="models.length">

      <card v-for="(model, index) in models"
            :key="`model-card-${index}`"
            :data="model"
            :icon="{tag:'fas', name:'warehouse'}"
            @clicked="onCardClick">
      </card>

    </div>

    <div v-else-if="$store.state.loading">Loading...</div>

  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Card from '../components/dashboard/content/cards/Card'

  export default {
    layout: 'dashboard',
    name: "models",

    components: {
      Card
    },

    data: () => ({
      file: '',
      name: '',
      formHidden: true,
      selectedModel: ''
    }),

    mounted () {
      if (!this.models.length) {
        this.$api.models.getAll()
      }
    },

    computed: {
      filePath () {
        return `users/${this.$store.state.auth.user.username}/models`
      },
      ...mapGetters({
        models: 'models/list'
      })
    },

    methods: {
      clearForm () {
        this.selectedModel = ''
        this.name = ''
        this.file = ''
        this.formHidden = true
      },

      onAddButtonClick () {
        if (this.selectedModel) {
          this.clearForm()
          this.formHidden = false
        } else {
          this.formHidden = !this.formHidden
        }
      },

      onCardClick (model) {
        if (this.selectedModel._id === model._id) {
          this.clearForm()
        } else {
          this.selectedModel = model
          this.name = model.name
          this.formHidden = false
        }
      },

      validateFile (file) {
        if (file.name.split('.').pop().toLowerCase() !== 'fbx' ) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'The file must have .fbx exception'})
          return false
        } else if (file.size > 10 * 1024 * 1024) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Max file size - 10 Mb'})
          return false
        }
        return true
      },

      handleFileUpload () {
        let file = this.$refs.file.files[0]
        this.file = this.validateFile(file) ? file : ''
      },

      async add () {
        if (!this.file) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Choose your .fbx file'})
          return
        } else if (!this.name) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Name field can not be empty'})
          return
        }

        let formData = new FormData()
        formData.append('file', this.file)
        formData.append('name', this.name)
        formData.append('filePath', this.filePath)

        this.clearForm()
        this.$notify({group: 'dashboard', type: 'common', title: 'Uploading...', text: 'The process can take some time'})

        let res = await this.$api.models.create(formData)
        if (!res.error) {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Model was successfully uploaded'})
        } else {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error})
        }
      },

      async update () {
        let newModel = Object.assign({}, this.selectedModel)
        newModel.name = this.name

        this.clearForm()

        let res = await this.$api.models.update(newModel)
        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error})
        } else {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Model was successfully updated'})
        }
      },

      async remove () {
        let model = Object.assign({}, this.selectedModel)

        this.clearForm()

        let res = await this.$api.models.remove(model)
        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error})
        } else {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Model was successfully removed'})
        }
      }
    }
  }
</script>

<style scoped>
</style>
