<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2018.
  -->

<template>
  <div id="projectsPage">
    <button class="button is-black dashboard-content-body-button" @click="onAddButtonClick">New Project</button>
    <div class="dashboard-content-body-cards columns is-multiline is-mobile is-1" v-if="projects.length">
      <card v-for="(project, index) in projects"
            :key="`project-card-${index}`"
            :data="project"
            :icon="{tag:'fas', name:'pencil-ruler'}"
            @clicked="onCardClick">
      </card>
    </div>
    <div v-else-if="$store.state.loading">Loading...</div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Card from '../components/dashboard/content/cards/Card'

  export default {
    layout: "dashboard",
    name: "projects",

    components: {
      Card
    },

    mounted () {
      if (!this.projects.length) {
        // this.$api.projects.getAllForUser()
        this.$api.projects.getAll()
      }
    },

    computed: {
      ...mapGetters({
        projects: 'projects/commonProjectsList'
      })
    },

    methods: {
      onAddButtonClick() {
        this.$router.push({ name: 'editor' })
      },

      onCardClick(project) {
        this.$router.push({ path: `/editor/${project._id}` })
      },

      async add() {
        if (!this.file) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Choose your .fbx file'})
          return
        } else if (!this.name) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Name field can not be empty'})
          return
        }

        let formData = new FormData()
        formData.append('file', this.file)
        formData.append('name', this.name)
        formData.append('filePath', this.filePath)

        this.clearForm()
        this.$notify({group: 'dashboard', type: 'common', title: 'Uploading...', text: 'The process can take some time'})

        let res = await this.$api.models.create(formData)
        if (!res.error) {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Model was successfully uploaded'})
        } else {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error})
        }
      },

      async update() {
        let newModel = Object.assign({}, this.selectedModel)
        newModel.name = this.name

        this.clearForm()

        let res = await this.$api.models.update(newModel)
        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error})
        } else {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Model was successfully updated'})
        }
      },

      async remove() {
        let model = Object.assign({}, this.selectedModel)

        this.clearForm()

        let res = await this.$api.models.remove(model)
        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error})
        } else {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Model was successfully removed'})
        }
      }
    }
  }
</script>

<style scoped>
</style>
