<!--
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div id="surfacesPage">

    <button class="button is-black dashboard-content-body-button" @click="onAddButtonClick">Add surface</button>

    <div class="form" v-if="!formHidden">

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" name="name" placeholder="My Best Surface" v-model="name">
        </div>
      </div>

      <!--<div class="field" v-if="!selectedSurface">-->
        <!--<div class="file is-black has-name">-->
          <!--<label class="file-label">-->
            <!--<input class="file-input" type="file" name="file" id="file" ref="file" @change="handleFileUpload">-->
            <!--<span class="file-cta">-->
              <!--<span class="file-icon">-->
                <!--<i><fa :icon="['fas', 'cloud-upload-alt']"/></i>-->
              <!--</span>-->
              <!--<span class="file-label">-->
                <!--.jpg file…-->
              <!--</span>-->
            <!--</span>-->
            <!--<span class="file-name" v-if="file">-->
              <!--{{file.name}}-->
            <!--</span>-->
          <!--</label>-->
        <!--</div>-->
      <!--</div>-->

      <button class="button is-black" @click="add" v-if="!selectedSurface">Submit</button>
      <div class="buttons" v-else>
        <button class="button is-black" @click="update">Update</button>
        <button class="button is-black" @click="remove">Remove</button>
      </div>

    </div>

    <div class="dashboard-content-body-cards columns is-multiline is-mobile is-1" v-if="surfaces.length">

      <card v-for="(surface, index) in surfaces"
            :key="`surface-card-${index}`"
            :data="surface"
            :icon="{tag:'fas', name:'layer-group'}"
            @clicked="onCardClick">
      </card>

    </div>

    <div v-else-if="$store.state.loading">Loading...</div>

  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Card from '../components/dashboard/content/cards/Card'

  export default {

    layout: 'dashboard',
    name: "surfaces",

    components: {
      Card
    },

    data: () => ({
      file: '',
      name: '',
      formHidden: true,
      selectedSurface: ''
    }),

    mounted () {
      if (!this.surfaces.length) {
        this.$api.surfaces.getAll();
      }
    },

    computed: {
      ...mapGetters({
        surfaces: 'surfaces/list'
      })
    },

    methods: {

      clearForm () {
        this.selectedSurface = '';
        this.name = '';
        this.file = '';
        this.formHidden = true;
      },

      onAddButtonClick () {
        if (this.selectedSurface) {
          this.clearForm();
          this.formHidden = false;
        } else {
          this.formHidden = !this.formHidden;
        }
      },

      onCardClick (surface) {
        if (this.selectedSurface._id === surface._id) {
          this.clearForm();
        } else {
          this.selectedSurface = surface;
          this.name = surface.name;
          this.formHidden = false;
        }
      },

      validateFile (file) {
        if (file.name.split('.').pop().toLowerCase() !== 'jpg' ) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'The file must have .jpg exception'});
          return false;
        } else if (file.size > 10 * 1024 * 1024) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Max file size - 10 Mb'});
          return false;
        }
        return true;
      },

      handleFileUpload () {
        let file = this.$refs.file.files[0];
        this.file = this.validateFile(file) ? file : '';
      },

      async add () {

        if (!this.name) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Name field can not be empty'});
          return;
        }

        let formData = new FormData();
        formData.append('file', this.file);
        formData.append('name', this.name);

        this.clearForm();

        let res = await this.$api.surfaces.create(formData);

        if (!res.error) {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Surface was successfully uploaded'});
        } else {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error});
        }
      },

      async update () {

        let newSurface = Object.assign({}, this.selectedSurface);
        newSurface.name = this.name;

        this.clearForm();

        let res = await this.$api.surfaces.update(newSurface);

        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error});
        } else {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Surface was successfully updated'});
        }
      },

      async remove () {

        let surface = Object.assign({}, this.selectedSurface);

        this.clearForm();

        let res = await this.$api.surfaces.remove(surface);

        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error});
        } else {
          this.$notify({group: 'dashboard', type: 'success', title: 'Done', text: 'Surface was successfully removed'});
        }
      }

    }

  }
</script>

<style scoped>
</style>
