<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2018.
  -->

<template>
  <div id="teams"></div>
</template>

<script>
  export default {
    layout: 'dashboard',
    name: "teams"
  }
</script>

<style scoped>

</style>
