<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2018.
  -->

<template>
  <div id="trendsPage">
    <button class="button is-black dashboard-content-body-button" @click="onAddButtonClick">Add trend</button>

    <div class="form" v-if="!formHidden">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" name="name" placeholder="My Best Trend" v-model="name">
        </div>
      </div>

      <div class="field">
        <label class="label">Material by Surface</label>

        <div class="columns is-gapless" v-for="(matBySurf, index) in materialBySurface" :key="`matBySurf-${index}`">
          {{index+1}}. {{matBySurf.surface.name}} - {{matBySurf.material.name}}
          <img :src="matBySurf.material.fileUrl('micro', 60)" alt=""
               style="max-height: 25px; max-width: 25px; margin-left: 5px; object-fit: cover;"
          />
        </div>

        <div class="control columns is-gapless">
          <div class="select is-black">
            <select @change="onSurfaceChange($event)">
              <option>Select surface</option>
              <option v-for="(surface, index) in surfaces"
                      :key="`surface-option-${index}`"
                      :value="index">
                {{surface.name}}
              </option>
            </select>
          </div>
          <input class="input" type="text" placeholder="Material name" v-model="searchValue"/>
          <div class="select is-black">
            <select @change="onMaterialsChange($event)">
              <option>Select material</option>
              <option v-for="(material, index) in searchedMaterials"
                      :key="`material-option-${index}`"
                      :value="material._id">
                {{material.name}}
              </option>
            </select>
          </div>
          <button class="button is-black" @click="addMaterialBySurface">Add</button>
          <img :src="material.fileUrl('micro', 60)" alt="" v-if="material"
               style="max-height: 38px; max-width: 38px; margin-left: 5px; object-fit: cover;"
          />
        </div>
      </div>

      <button class="button is-black" @click="add" v-if="!selectedTrend">Submit</button>
      <div class="buttons" v-else>
        <button class="button is-black" @click="update">Update</button>
        <button class="button is-black" @click="remove">Remove</button>
      </div>
    </div>

    <div class="dashboard-content-body-cards columns is-multiline is-mobile is-1" v-if="trends.length">
      <card v-for="(trend, index) in trends"
            :key="`trend-card-${index}`"
            :data="trend"
            :icon="{tag:'fas', name:'magic'}"
            @clicked="onCardClick">
      </card>
    </div>
    <div v-else-if="$store.state.loading">Loading...</div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Card from '../components/dashboard/content/cards/Card'
  import Trend from '~/models/Trend'

  export default {
    layout: 'dashboard',
    name: "trends",
    components: {
      Card
    },
    data: () => ({
      file: '',
      name: '',
      formHidden: true,
      selectedTrend: {},
      searchValue: '',
      surface: null,
      material: null,
      materialBySurface: []
    }),
    mounted () {
      if (!this.trends.length) {
        this.$api.trends.getAll()
      }
      if (!this.surfaces.length ) {
        this.$api.surfaces.getAll()
      }
      if (!this.materials.length ) {
        this.$api.materials.getAll()
      }
    },
    computed: {
      ...mapGetters({
        trends: 'trends/list',
        surfaces: 'surfaces/list',
        materials: 'materials/list'
      }),
      searchedMaterials() {
        return this.materials.filter(material => material.name.toLowerCase().includes(this.searchValue.toLowerCase()))
      }
    },
    methods: {
      clearForm() {
        this.selectedTrend = ''
        this.name = ''
        this.file = ''
        this.formHidden = true
        this.material = null
        this.surface = null
        this.materialBySurface = []
        this.searchValue = ''
      },

      onAddButtonClick() {
        if (this.selectedTrend) {
          this.clearForm()
          this.formHidden = false
        } else {
          this.formHidden = !this.formHidden
        }
      },

      onCardClick(trend) {
        if (this.selectedTrend._id === trend._id) {
          this.clearForm()
        } else {
          this.selectedTrend = trend
          this.name = trend.name
          this.formHidden = false
          this.materialBySurface = []
          for (let matBySurf of trend.materialBySurface) {
            let material = this.materials.filter(material => material._id === matBySurf.materialId)[0]
            let surface = this.surfaces.filter(surface => surface._id === matBySurf.surfaceId)[0]
            if (surface === undefined || material === undefined) {
              continue
            }
            this.materialBySurface.push({
              material: material,
              surface: surface
            })
          }
        }
      },

      onSurfaceChange(event) {
        this.surface = this.surfaces[event.target.value]
      },

      onMaterialsChange(event) {
        this.material = this.materials.filter(material => material._id === event.target.value)[0]
      },

      addMaterialBySurface() {
        if (!this.material || !this.surface) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Select surface and material'})
          return
        }
        this.materialBySurface.push({
          surface: this.surface,
          material: this.material
        })
        this.material = null
        this.surface = null
        this.searchValue = ''
      },

      async add() {
        if (!this.name) {
          this.$notify({group: 'dashboard', type: 'warn', title: 'Warning', text: 'Name field can not be empty'})
          return
        }

        let materialBySurface = []
        for (let matBySurf of this.materialBySurface) {
          materialBySurface.push({
            materialId: matBySurf.material._id,
            surfaceId: matBySurf.surface._id
          })
        }

        let newTrend = new Trend({
          name: this.name,
          materialBySurface: materialBySurface
        })

        this.clearForm()

        let res = await newTrend.save(this)
        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error})
        } else {
          this.$notify({ group: 'dashboard', type: 'success', title: 'Done', text: 'Trend was successfully uploaded' })
        }
      },

      async update() {
        let materialBySurface = []
        for (let matBySurf of this.materialBySurface) {
          materialBySurface.push({
            materialId: matBySurf.material._id,
            surfaceId: matBySurf.surface._id
          })
        }

        let updateTrend = new Trend({
          _id: this.selectedTrend._id,
          name: this.name,
          materialBySurface: materialBySurface
        })

        this.clearForm()

        let res = await updateTrend.save(this)
        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error})
        } else {
          this.$notify({ group: 'dashboard', type: 'success', title: 'Done', text: 'Trend was successfully updated' })
        }
      },

      async remove() {
        let trend = new Trend({
          _id: this.selectedTrend._id
        })

        this.clearForm()

        let res = await trend.remove(this)
        if (res.error) {
          this.$notify({group: 'dashboard', type: 'error', title: 'Error', text: res.error})
        } else {
          this.$notify({ group: 'dashboard', type: 'success', title: 'Done', text: 'Trend was successfully removed' })
        }
      }
    }
  }
</script>

<style scoped>
</style>
