<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2018.
  -->

<template>
  <div id="dashboardBody" class="dashboard-content-body">
    <transition name="fade" mode="out-in">
      <nuxt></nuxt>
    </transition>
  </div>
</template>

<script>
  export default {
  }
</script>

<style>
  /*.fade-enter-active,*/
  /*.fade-leave-active {*/
    /*transition: opacity .15s*/
  /*}*/
  /*.fade-enter,*/
  /*.fade-leave-to {*/
    /*opacity: 0*/
  /*}*/
</style>

