<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2018.
  -->

<template>
  <div id="dashboardHeader" class="dashboard-content-header hero-head">
    <header class="dashboard-content-header-navbar navbar">
      <div id="navbarMenuHeroC" class="dashboard-content-header-navbar-menu navbar-menu">
            <!--<span class="dashboard-content-header-navbar-item navbar-item">-->
              <!--<a class="button is-black">-->
                <!--<span><i><fa :favicon="['fas','plus']"></fa></i>New {{routeName}}</span>-->
              <!--</a>-->
            <!--</span>-->
      </div>
    </header>
  </div>
</template>
<script>
  export default {
    computed: {
      routeName() {
        const { name } = this.$route;
        return this.capitalizeFirstLetter(name);
      }
    },
    data() {
      return {
        activeNotifications: false
      }
    },
    methods: {
      capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      },
      toggleNotificationDropDown() {
        this.activeNotifications = !this.activeNotifications;
      },
      closeDropDown() {
        this.activeNotifications = false;
      },
      toggleSidebar() {
        // this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
      },
      hideSidebar() {
        this.$sidebar.displaySidebar(false);
      }
    }
  }

</script>
<style>

</style>
