<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2018.
  -->

<template>
  <div id="dashboardFooter" class="dashboard-content-footer hero-foot">
    <!--<nav class="tabs is-boxed is-fullwidth">-->
      <!--<div class="container">-->
        <!--<ul>-->
          <!--<li class="is-active"><a>Overview</a></li>-->
          <!--<li><a>Modifiers</a></li>-->
          <!--<li><a>Grid</a></li>-->
          <!--<li><a>Elements</a></li>-->
          <!--<li><a>Components</a></li>-->
          <!--<li><a>Layout</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</nav>-->
  </div>
</template>

<script>
  export default {}
</script>

<style>
</style>
