<!--
  - Project: artrend-frontend
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2018.
  -->

<template>
  <side-bar :content="content"></side-bar>
</template>

<script>
  import SideBar from '~/components/dashboard/sidebar/SideBar'

  export default {
    name: "sidebar",
    components: {
      SideBar
    },
    props: {
      content: {
        type: Array,
        default: () => []
      }
    }
  }
</script>

<style scoped>
</style>
