<!--
  - Author: Max Schnaider / @maxschnaider
  - Copyright (c) 2019.
  -->

<template>
  <div class="dashboard-content-body-card column is-4" @click="onClick" :id="data._id">

    <div class="dashboard-content-body-card-thumbnail" v-if="data.thumbnailUrl || data.qualities">
      <lazy-img
        :background-color="data.thumbnailColor"
        :lazy-src="thumbnailUrl"
        v-if="!isDataChanged"
      />
      <img :src="thumbnailUrl" v-else/>
    </div>

    <i class="dashboard-content-body-card-icon" v-else-if="icon">
      <fa :icon="[icon.tag, icon.name]"/>
    </i>

    <div class="dashboard-content-body-card-caption">
      <p class="dashboard-content-body-card-caption-text">
        {{data.name}}
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    name: "DashboardContentCard",
    props: {
      data: {
        type: Object,
        default: () => {}
      },
      icon: {
        type: Object,
        default: () => {}
      }
    },
    data: () => ({
      initDataId: null
    }),
    beforeMount() {
      this.initDataId = this.data._id
    },
    computed: {
      thumbnailUrl() {
        if (this.data.qualities !== undefined) {
          let material = this.data;
          return material.fileUrl("small", 60)
        } else if (this.data.thumbnailUrl) {
          return this.data.thumbnailUrl
        }
      },
      isDataChanged() {
        return !(this.initDataId === this.data._id)
      }
    },
    methods: {
      onClick() {
        this.$emit('clicked', this.data);
      }
    }
  }
</script>

<style scoped>
</style>
